// Modular scale
// ---------------------------------------

// Setting responsive modular-scales. Use appropriate scales for viewport sizes.
$modular-scale: (
  // Major Third http://www.modularscale.com/?16,28&px&1.25&web&text
  scale-0: (
    alpha:   28.0,
    beta:    25.0,
    gamma:   22.4,
    delta:   20.0,
    epsilon: 17.9,
    zeta:    16.0,
    eta:     14.3,
    theta:   12.8,
    iota:    11.5
  ),
  // Perfect Fourth http://www.modularscale.com/?20,40&px&1.333&web&text
  scale-3: (
    alpha:   40.0,
    beta:    35.5,
    gamma:   30.0,
    delta:   26.7,
    epsilon: 22.5,
    zeta:    20.0,
    eta:     16.9,
    theta:   15.0,
    iota:    12.7
  )
);