@use "~@alexwilson/ds-legacy-components/src/util-palette/palette" as *;

/**
 * Layout
 */

html, body {
    background-color: $background;
    margin: 0;
    padding: 0;
}

img.responsive {
    max-width: 100%;
}

