// Utilities
@import "~@alexwilson/legacy-components/src/util-viewports/viewports";
@import "~@alexwilson/legacy-components/src/util-grid/grid";
@import "~@alexwilson/legacy-components/src/util-palette/palette";
@import "~@alexwilson/legacy-components/src/util-typography/typography";

@import "~prismjs/themes/prism-okaidia.css";
@import "~prismjs/plugins/command-line/prism-command-line.css";

// Page-specific styles
@import "layout";
@import "pages/home";
@import "pages/article";
@import "pages/listing";
@import "pages/consultancy";

// Force spans inside PrismJS to use parent font-family.
code[class*="language-"] span, pre[class*="language-"] span {
    font-family: inherit;
}

.panel {
	background: $brand;
}

.panel-default {
	border-color: $orange-1;
}

hr {
	border: 0;
	border-top: 1px solid black;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
