@use "sass:color";

/**
 * Palette
 */

 $white:  #FFFFFF;
 $grey-1: color.adjust($white, $lightness: -3%);
 $grey-2: color.adjust($white, $lightness: -10%);
 $grey-3: color.adjust($white, $lightness: -20%);
 $grey-4: color.adjust($white, $lightness: -50%);
 $grey-5: color.adjust($white, $lightness: -80%);
 $grey-6: color.adjust($white, $lightness: -95%);

 $orange: #FEF2E7;
 $orange: color.adjust($orange, $lightness: 1%); // Trying this out.
 $orange-1: color.adjust($orange, $lightness: -3%);
 $orange-2: color.adjust($orange, $lightness: -10%);
 $orange-3: color.adjust($orange, $lightness: -20%);
 $orange-4: color.adjust($orange, $lightness: -50%);
 $orange-5: color.adjust($orange, $lightness: -80%);
 $orange-6: color.adjust($orange, $lightness: -95%);

 $blue: #1A8CFF;
 $blue-1: color.adjust($blue, $lightness: 3%);
 $blue-2: color.adjust($blue, $lightness: 10%);
 $blue-3: color.adjust($blue, $lightness: 20%);
 $blue-4: color.adjust($blue, $lightness: 38%);

 $brand:			  $blue;
 // $background:  color.adjust($white, $lightness: 1%);
 $background: white;
 $complement:	color.adjust($brand, $hue: 180);
 $secondary:		color.adjust($brand, $hue: 120);
 $tertiary:		color.adjust($brand, $hue: -120);

 $header-background: rgba(80, 80, 80, 0.95);
 $header-link: $blue;
 $header-link-active: $blue;
 $header-link-background: rgba($grey-5, 0.7);

 // Extracted from Bootstrap-Sass
 // https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
 $pager-bg:                             $white;
 $pager-border:                         #dddddd;
 $pager-border-radius:                  15px;
 $pager-hover-bg:                       #eeeeee;
 $pager-disabled-color:                 #777;

 //$blue: #00FFB7;

// Overides...
$linkColour: $grey-5;
$hoverColour: $grey-4;
