# Ignoring system files
.DS_Store

# Ignoring artefact folders
.cache
.parcel-cache
dist
public

# Ignore Terraform state
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/*.tfstate*

# Ignoring dependencies.
node_modules

lerna-debug.log
