---
layout: base
---
<div class="alex-home__blog">
        <h1 class="heading"><a href="/blog/">Blog</a></h1>
        <div class="alex-home__stack">
            {% for post in site.posts %}{% if forloop.index0 < 3 %}
                {% if forloop.index0 == 0 %}
                    {% include card/item.html modifier="alex-card--supermassive" %}
                {% else %}
                    {% include card/item.html %}
                {% endif %}
            {% endif %}{% endfor %}
        </div>
        <a class="full-width" href="/blog/"><span class="alex-home__see-more">See more</span></a>
</div>
<div class="alex-home__projects">
    <h1 class="heading"><a href="/work/">Work</a></h1>
    <!--
    {% for post in site.projects %}{% if forloop.index0 < 3 %}
        {% include card/item.html %}
    {% endif %}{% endfor %}
    <a class="full-width" href="/work/"><span class="alex-home__see-more">See more</span></a>
    -->
    This section is coming soon.
</div>