@import "util/grid";

.alex-home {

    &__blog,
    &__projects {

        @include alex-container;

        .heading,
        .row {
            padding-bottom: 12px;
        }
    // background-color: $secondary;
    }

    // &__stack {
    //     display: grid;
    //     grid-template-columns: 1fr 1fr;

    //     .alex-card--supermassive {
    //         grid-column: 1 / span2;
    //     }
    // }

    &__see-more {
        position: absolute;
        right:  0;
        bottom: 0;
    }

}