/**
 * Layout
 */

html, body {
    background-color: $background;
    margin: 0;
    padding: 0;
}

.align-center {
    text-align: center;
}

.main-content {
    text-align: center;
    padding-bottom: 50px;
    min-height: 250px;

    &__secondary {
        max-width: 660px;
        margin: 0 auto;
    }
}