/**
 * Palette
 */

$white:  #FFFFFF;
$grey-1: darken($white, 3%);
$grey-2: darken($white, 10%);
$grey-3: darken($white, 20%);
$grey-4: darken($white, 50%);
$grey-5: darken($white, 80%);
$grey-6: darken($white, 95%);

$orange: #FEF2E7;
$orange: lighten($orange, 1%); // Trying this out.
$orange-1: darken($orange, 3%);
$orange-2: darken($orange, 10%);
$orange-3: darken($orange, 20%);
$orange-4: darken($orange, 50%);
$orange-5: darken($orange, 80%);
$orange-6: darken($orange, 95%);
$blue: #1A8CFF;

$brand:			  $blue;
// $background:  lighten($white, 1%);
$background: white;
$complement:	adjust_hue($brand, 180);
$secondary:		adjust_hue($brand, 120);
$tertiary:		adjust_hue($brand, -120);

$header-background: rgba(80, 80, 80, 0.95);
$header-link: $blue;
$header-link-active: $blue;
$header-link-background: rgba($grey-5, 0.5);

// Extracted from Bootstrap-Sass
// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
$pager-bg:                             $white;
$pager-border:                         #dddddd;
$pager-border-radius:                  15px;
$pager-hover-bg:                       #eeeeee;
$pager-disabled-color:                 #777;

//$blue: #00FFB7;
