/**
 * Hack up the scroll-bar and make it purdy.
 */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: $orange-1;

}
::-webkit-scrollbar-thumb {
    background: $orange-2;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: $orange-2;
}