.alex-card {
	// .media-heading {
	// 	a, a:visited {
	// 		color: $grey-5;
	// 	}
	// }

	display: flex;

	margin-bottom: 1em;
	padding-bottom: 1em;
	padding-right: 1em;
	border-bottom: 1px solid black;

	&__content--container {
		flex: 3;
	}

	&__media--container {
		padding: 1em;
		padding-right: 0;
		flex: 1;
	}

	&__title {
		h3 {
			margin: 0;
		}
	}

	&__abstract {
		p {
			margin: 0.5em 0;
		}
	}

	&__image {
		flex: 1;
		margin-top: 1em;
		margin-right: -1em;
		margin-left: 1em;
		img {
			padding-right: 0em;
			display: block;
			max-width: 100%;
			min-height: 100px;
			height: auto;
		}
	}

	&__timestamp {
	}
}