@import "../util-palette/palette";
@import "./type/main";

* {
    font-family: "Avenir Next", Avenir, Arial, sans-serif;
}

@mixin heading {
    .wf-active & {
        font-family: 'Overpass', sans-serif;
    }
}

.alex-article {
    &__body {
        @extend .typeset;

        // Override to add spacing between bullet-points.
        ul, ol {
            li:not(:last-child) {
                padding-bottom: 1em;
            }
        }
    }

    &__byline {
        padding-bottom: 5px;
    }
}

.heading {
    @include heading;

    a, a:visited {
        color: $grey-5;
    }
 }

// Helpers for text-alignment
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}

h1, h2, h3, h4, ul.pager, ul.pagination {
    @include heading;
    // font-weight: 800 !important;
    color: $grey-5;
}

h1,h2 {
    text-transform: uppercase;
}

a, a:visited, a:hover, a:focus {
    transition: color .4s ease-out, background .2s ease-in;
    text-decoration: underline;
}

.text--small {
    @include fontsize($fontsize: iota);
}

.spacer {
    margin: 0;
    font-size: 60px;
    top: -35px;
    line-height: 20px;
    position: relative;
}
