<header role="banner" class="alex-header {% if page.image %}alex-header--with-image{% endif %}">
<div class="alex-header--container">

    <div class="alex-header__about">
        <h1 class="alex-header__name">Alex Wilson</h1>
        <span class="alex-header__intro">Software Engineer, Technical Architect — Helping build a better, faster internet.</span>
    </div>


    <nav>
        <ul class="alex-header__nav" id="menu">
            <li class="{% if page.url == '/index.html' or page.url == '/' %}alex-header__nav-item--active {% endif %}alex-header__nav-item">
                <a href="/">Home</a>
            </li>
            {% for item in site.data.navigation %}
            <li class="{% if page.url contains item.link %}alex-header__nav-item--active {% endif %}alex-header__nav-item">
                <a href="{{ item.link }}">{{ item.title }}</a>
            </li>
            {% endfor %}
            <li class="alex-header__nav-item alex-header__nav-item--spacer"></li>
            {% for item in site.data.social %}
            <li class="alex-header__nav-item">
                <a title="{{ item.title }}" href="{{ item.url }}" rel="me">
                    {% assign svgUrl = site.url|append: item.svg %}
                    <img
                         src="{{ svgUrl }}"
                         onerror="this.src='https://imagecdn.app/v2/image/{{svgUrl|url_encode}}?format=png&width=90'"
                         class="large"
                         alt="{{ item.title }}"
                         height="1em"
                    />
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>

</div>
</header>
