<nav class="navbar navbar-fixed-top alex-nav">
  <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="alex-nav__navbar-toggle navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-2x fa-inverse fa-bars"></i>
            </button>
        </div>

        <div class="alex-nav__collapse collapse navbar-collapse" id="main-nav">
            <ul class="nav navbar-nav alex-nav__list" id="menu">
                <li class="{% if page.url == '/index.html' %}active{% endif %} alex-nav__list__item">
                    <a href="/">Home</a>
                </li>
                {% for item in site.data.navigation %}
                    <li class="{% if page.url contains item.link %}active{% endif %} alex-nav__list__item">
                        <a href="{{ item.link }}" {% if item.instantclick == false %}data-no-instant{% endif %}>{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right alex-nav__list alex-nav__list--right">
                {% for item in site.data.social %}
                    <li>
                        <a href="{{ item.url }}" class="fa fa-inverse fa-3x {{ item.glyph }}"></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
