<ul class="pager">

	<li class="previous {% unless paginator.previous_page %}disabled{% endunless %}">
		<a
		{% if paginator.previous_page %}
			href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}"
		{% endif %}
		>&lsaquo; Prev</a>
	</li>

	{% for page in (1..paginator.total_pages) %}
		{% if page == paginator.page %}
			<li class="active">
				<a>
					{{ page }} <span class="sr-only">(current)</span>
				</a>
			</li>
		{% elsif page == 1 %}
			<li>
				<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', '' | replace: 'index.html', '' }}">
					{{ page }}
				</a>
			</li>
		{% else %}
			<li>
				<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page | replace: 'index.html', '' }}">
					{{ page }}
				</a>
			</li>
		{% endif %}
	{% endfor %}


	<li class="next {% unless paginator.next_page %}disabled{% endunless %}">
		<a
		{% if paginator.next_page %}
			href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}"
		{% endif %}
		>Next &rsaquo;</a>
	</li>

</ul>