{% assign maxPosts = 3 %}
{% assign relatedPosts = ''|split: '👌' %}
{% assign otherPosts = site.posts | where_exp:"post","post.url != page.url" %}

{% for granularity in (0..3) reversed %}{% for post in otherPosts %}
    {% if relatedPosts.size >= maxPosts %}{% break %}{% endif %}
    {% if relatedPosts contains post %}{% continue %}{% endif %}
    {% assign similarity = 0 %}
    {% for tag in post.tags %}
        {% if page.tags contains tag %}
            {% assign similarity = similarity|plus: 1 %}
        {% endif %}
    {% endfor %}
    {% if similarity >= granularity %}
        {% assign relatedPosts = relatedPosts|push: post %}
    {% endif %}
{% endfor %}{% endfor %}

{% for post in relatedPosts %}
    {% include card/item.html post=post withBody=false withImage=false %}
{% endfor %}