<ul class="list-inline">
	<li>
		<a class="fa fa-2x fa-twitter-square" href="https://twitter.com/intent/tweet?url={{site.url}}{{page.url}}&amp;text={{page.title}}&amp;related=antoligy&amp;via=antoligy"></a>
	</li>
	<li>
		<a class="fa fa-2x fa-facebook-square" href="http://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}&amp;t={{page.title}}"></a>
	</li>
	<li>
		<a class="fa fa-2x fa-linkedin-square" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{site.url}}{{page.url}}&amp;title={{page.title}}"></a>
	</li>
	<li>
		<a class="fa fa-2x fa-google-plus-square" href="https://plus.google.com/share?url={{site.url}}{{page.url}}"></a>
	</li>
	<li>
		<a class="fa fa-2x fa-reddit-square" href="http://reddit.com/submit?url={{site.url}}{{page.url}}&amp;title={{page.title}}"></a>
	</li>
</ul>