@import "../util-viewports/viewports";
@import "../util-grid/grid";
@import "../util-palette/palette";
@import "../util-typography/typography";

.alex-form {
  @include alex-container($max-width: 100%);
  &__inline-group {
    @include media(">tablet") {
      @include alex-row;
      @include alex-column(10);
      display: inline-flex;
  
      >:first-child, >:first-child:focus {
        @include alex-column(7);
        border-right: 0;
      }
      >:last-child, :last-child:focus {
        @include alex-column(3);
      }
  
      flex-wrap: wrap;
    }
  }
  &__input, &__input:focus, &__input::placeholder {
    padding: .5em .6em;
  }
  &__input, &__input:focus {
    @include alex-row;
    @include alex-column(10);

    @include baseline($fontsize: zeta, $font: $bodytype, $lineheight: 2, $below: 1);

    border: 1px solid $grey-4;
  }
}

