@import "../util-palette/palette";

.alex-infobox {
  background: $blue-4;
  padding: 1em;

  .bullet--rss {
    list-style-image: url("~@alexwilson/ds-icons/rss.svg");
  }

  .bullet--email {
    list-style-image: url("~@alexwilson/ds-icons/email.svg");
  }

  .bullet--twitter {
    list-style-image: url("~@alexwilson/ds-icons/twitter.svg");
    &::marker { font-size: 1.5em; }
  }
}
