@import "~@alexwilson/legacy-components/src/util-palette/palette";

.alex-article {
    @include alex-container();
    @include alex-row;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0 2em;
    grid-template-areas:
      "Headline"
      "Main"
      "Aside";

    @include media(">tablet") {
      grid-template-columns: 8fr 2fr;
      grid-template-areas:
        "Headline Headline"
        "Main Aside";
    }
    @include media(">desktop") {
      grid-template-columns: 7fr 3fr;
      gap: 0 3em;
      grid-template-areas:
        "Headline Headline"
        "Main Aside";
    }
    @include media(">desktop") {
      gap: 0 4em;
    }
}

.alex-article__headline {
  @include sassline($fontsize: alpha, $font: $headingtype, $lineheight: 3, $below: 1);

  grid-area: Headline;
}

.alex-article__main {
    grid-area: Main;

    /* This is not a permanent solution. It prevents anything escaping the content-well. */
    overflow-x: auto;
}

.alex-article__aside {
    grid-area: Aside;

    display: inline-grid !important;
    grid-template-rows: min-content auto min-content;
    gap: 2em;
}

.alex-article__aside-top {
  grid-row: 1/3;
}

.alex-article__aside-mid {
  grid-row: 2/3;
}

.alex-article__aside-bottom {
  grid-row: 3/3;
}

.alex-article__topics {
    display: none;
    @include media(">tablet") {
        display: block;
    }

    ul {
      display: inline;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline;
    }

    li:after {
      content: ', ';
    }

    li:last-child:after {
      content: '.';
    }

    li:nth-last-child(2):after {
      content: ' & ';
    }
}

.alex-article__recommended {
    @include media(">tablet") {
        position: sticky;
        top: 15em;
    }
    h2 {
      text-transform: initial;
      @include fontsize($fontsize: epsilon);
    }
    h3 {
      @include fontsize($fontsize: zeta);
    }
}

.alex-article__sharing-block {
  h3 {
    @include fontsize($fontsize: epsilon);
  }
  @include media("<tablet") {
    display: flex;
    > div {
      flex: 1;
    }
  }
}

.alex-article__image {
    background: no-repeat center center;
    background-color: $grey-3;
    background-attachment: scroll;
    background-size: cover;
    margin-top: -4em;
    height: 400px;
}

.alex-article__pane {
    @include alex-row;
    &-half {
        padding-right: .5rem;
        @include alex-column(10);
        @include media(">phone") {
            @include alex-column(5);
        }
    }
}

.alex-article__body {
    img {
        max-width: 100%;
    }
}

.alex-article__infobox {
  background: $blue-4; // rgb(231, 243, 248);
  padding: 1em;

  .bullet--rss {
    list-style-image: url("/svg/rss.svg");
  }

  .bullet--email {
    list-style-image: url("/svg/email.svg");
  }

  .bullet--twitter {
    &::marker {
      font-size: 1.5em;
    }
    list-style-image: url("/svg/twitter.svg");
  }
}
