.consultancy {
  @include alex-container;
  align-items: center;
  justify-content: center;


  h1 {
    @include sassline($fontsize: alpha, $font: $headingtype, $lineheight: 3, $below: 1);
    text-align: center;
  }
  p {
    @include baseline($fontsize: zeta, $font: $bodytype, $lineheight: 2, $below: 2);
  }
}

.consultancy-lede {
  @include alex-row;
  @include alex-column(10);
  padding: 1em;
}

.consultancy-service {
  @include alex-row;
  border: 1px solid $grey-2;
  &__title {
    @include alex-column(10);
    text-align: center;
    margin-bottom: 0;
  }

  &__text {
    @include alex-column(8);
    @include baseline($fontsize: zeta, $font: $bodytype, $lineheight: 2, $below: 2);
    padding: 1em;
    padding-top: 0;
    margin-top: 0;
  }

  &__icon {
    @include alex-column(2);
    padding: 1em;
    padding-top: 0;
    margin-top: 0;
    width: 80%;
  }
  margin-bottom: 1em;
}

.consultancy-divider {
  padding: 1em 0;
}

.consultancy-contact {
  @include alex-row;
  form {
    @include alex-column(10);
    @include media(">phone") {
      @include alex-column(6);
    }
  }
}

.consultancy-footer {
  @include alex-container($max-width: 100%);
  align-content: center;
  justify-content: center;
  div {
    @include alex-row;
    @include alex-column(10);
    @include sassline($fontsize: eta, $font: $headingtype, $lineheight: 2, $below: 0);
    text-align: center;
  }
}
