.alex-home {
    @include alex-container;

    &__section {
        a, a:visited {
          text-decoration: none;
        }
        @include alex-row;
        padding-bottom: 1em;
    }

    &__tilestack-item {
        @include alex-column(10);
        @include media(">phone") {
            @include alex-column(5);
        }
        @include media(">tablet") {
            @include alex-column(3);
        }

        .alex-card {
            border-bottom: none;
        }
    }
}
