<div class="alex-card">

	<div class="alex-card__content--container">

		<div class="alex-card__title">
			<h3>
				<a href="{{ post.url }}">{{ post.title }}</a>
			</h3>
		</div>

		<div class="alex-card__abstract">
			<p>
				{{ post.excerpt|markdownify|strip_html|truncatewords: 40 }}
			</p>
		</div>

		{% if post.date %}
		<div class="alex-card__timetamp">
			<span class="dateline">
				<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%d %b %Y' }}</time>
			</span>
		</div>
		{% endif %}

	</div>

	{% if post.img %}
	<div class="alex-card__media--container">
		<div class="alex-card__image">
				{% include atom/image.html
					src="{{ post.image }}"
					alt="{{ post.image_alt }}"
				%}
		</div>
	</div>
	{% endif %}
</div>