/**
 * Layout
 */

body {
    background-color: $orange;
}

.container {
    padding-top: 50px;
}

.main-content {
    text-align: center;
    padding-bottom: 50px;
    min-height: 250px;

    &__secondary {
        max-width: 660px;
        margin: 0 auto;
    }
}

.alex-home {

    &__about {
        // background-color: $complement;
    }

    &__blog,
    &__projects {

        .heading,
        .row {
            padding-bottom: 12px;
        }
    // background-color: $secondary;
    }

    &__see-more {
        position: absolute;
        right:  0;
        bottom: 0;
    }

}

.alex-article__image {
    background-color: gray;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-top: -50px;
    height: 400px;
}

// .alex-card {
//     background-color: $orange-2;
//     padding: 10px 0;
//     margin-top: 10px;
// }