/**
 * Layout
 */

body {
    background-color: $orange;
}

.container {
	padding-top: 50px;
}

.main-content {
    text-align: center;
	padding-bottom: 50px;
    min-height: 250px;

    &__secondary {
    	max-width: 660px;
    	margin: 0 auto;
    }
}

.alex-home__about {
	// background-color: $complement;
}

.alex-home__blog {
    // background-color: $secondary;
}

.alex-home__projects {
	// background-color: $tertiary;
}

.alex-article__image {
    background-color: gray;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-top: -50px;
    height: 400px;
}

.alex-home__see-more {
    float: right;
}

// .alex-card {
//     background-color: $orange-2;
//     padding: 10px 0;
//     margin-top: 10px;
// }