@import "../util-viewports/viewports";
@import "../util-grid/grid";
@import "../util-palette/palette";
@import "../util-typography/typography";

/**
 * Header
 */
.alex-header {

  z-index: 100;

  &--container {
    @include alex-container;
  }

  border-bottom: 3px solid #0d0d0d;
  overflow: hidden;

  &__nav {

    &--container {
      @include media("<phone") {
        padding-top: 1em;
        padding-bottom: 1em;
      }
    }

    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    @include media("<phone") {
      flex-wrap: wrap;
      justify-items: center;
      background-color: $header-link-background;
      height: 100%;
      transition: all 0.2s ease;
      translate: none;
      
      &[aria-expanded="false"] {
        height: 0;
        visibility: hidden;
        overflow: hidden;
        transform: translate(0%, -300%);
      }
    }
  }

  &__menu-button {
    @include media(">phone") {
      display: none;
      visibility: hidden;
    }

    position: relative;
    display: block;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;

    > span {
      display: block;
      background-color: $white;
      margin: 5px 0;
      height: 2px;
      width: 1.5em;
      transition: all 0.2s ease-in;
    }

    &[aria-pressed="true"] {
      > span:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
      }
    }
  }

  &__nav-item {
    flex-basis: auto;
    white-space: nowrap;
    overflow: hidden;

    &--spacer {
      margin-left: auto;
      margin-right: auto;
    }

    a, a:hover, a:visited {
      @include fontsize($fontsize: eta);

      color: white;
      padding: 1rem;
      position: relative;
      display: block;
      text-decoration: none;

      border-bottom: transparent solid 0.5rem;
      &:hover {
        color: #AAA !important;
        border-bottom: #AAA solid 0.5rem;
      }

      img.large {
        filter: invert(1);
        height: 1.6rem;
        width: 1.6rem;
        padding: 0.25rem 0;
        margin: -1rem 0;
      }
    }

    &--active {
      a {
        border-bottom: white solid 0.5rem !important;
      }
    }
    
    &--width-thin {
        @include media(">phone") {
            a, a:hover, a:visited {
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }
        }
    }
  }

  &__intro {
    font-size: 1rem;
  }

  &__about {
    width: 100%;

    display: block;
    text-align: center;

    color: white;
    font-weight: 500;

    padding: 1em 0 0 0;
    @include media(">tablet") {
      padding-top: 3em;
      padding-bottom: 1em;
    }
    @include media(">desktop") {
      padding-top: 5em;
      padding-bottom: 3em;
    }
    @include media(">large") {
      padding-top: 6em;
      padding-bottom: 4em;
    }

    .read-more {
      font-style: italic;
      font-size: smaller;
    }
  }

  &__name {
    color: white;
    font-weight: 700;
    text-transform: initial;
    font-size: 40pt;
    white-space: nowrap;
  }
}


.alex-header-image {

  &:after {
    content: '';
    z-index: -95;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      to bottom,
      rgba(96, 92, 96, 0.6),
      rgba(20, 20, 20, 0.6)
    );
  }

  &__blur, &__main {
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -95;
    transition: opacity 1.4s linear;
    position: absolute;
  }

  &__main {
    opacity: 0;
  }

  &__blur {
    z-index: -100;
    filter: blur(100px);
    transform: scale(1.02);
    opacity: 1;
  }
}
