<!DOCTYPE html>
<html class="wf-loading">
    <head>
      {% for script in site.data.javascript.sync %}<script src="{{ script }}" data-no-instant></script>{% endfor %}
      {% include component/meta.html %}
      {% include assets.html %}
      {% include webpack.html %}
    </head>
    <body id="page" class="alex page">

        <!-- Navigation -->
        {% include component/header.html %}
        <div class="container" id="container">
                {{ content }}
        </div>

        <!-- Footer -->
        {% include component/footer.html %}
    </body>
</html>
