---
layout: base
---

{% if page.image %}
<style>
    .alex-header {
        background-image: url('https://responsiveimages.io/v1/images/{{ page.image|url_encode }}');
    }
</style>
{% endif %}
<div class="alex-article">
    {% assign itemtype = 'http://schema.org/BlogPosting' %}
    {% if page.itemtype %}
        {% assign itemtype = page.itemtype %}
    {% endif %}
    <div class="alex-article__main" itemscope="" itemtype="{{ itemtype }}">
        <section>
            
            
            <!-- Title -->
            <h1 itemprop="name headline">{{ page.title }}</h1>
            
            {% if page.author or page.date %}
                <div class="alex-article__main__byline">
                    Posted
                    {% if page.author %}
                    by
                    {% assign author = site.data.authors[page.author] %}
                    <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <a href="{{ author.aboutme }}">
                            <span itemprop="name">{{ author.name }} </span>
                        </a>
                    </span>
                    {% endif %}

                    {% if page.date and page.date != 0 %}
                    on
                    <!-- Date -->
                    <time class="alex-article__main__date" datetime="{{ page.date|date_to_xmlschema }}" itemprop="datePublished">
                    {% assign d = page.date | date: "%-d"  %}
                    {{ page.date | date: "%A," }} 
                    {% case d %}
                        {% when '1' or '21' or '31' %}{{ d }}st
                        {% when '2' or '22' %}{{ d }}nd
                        {% when '3' or '23' %}{{ d }}rd
                        {% else %}{{ d }}th
                        {% endcase %}
                    {{ page.date | date: "%B %Y" }}
                    </time>
                    {% endif %}.
                    {% if page.image_credit %}{{ page.image_credit }}{% endif %}
                </div>
            {% endif %}

            <!-- Content -->
            <article itemprop="articleBody" class="alex-article__body article-description">
                {{ content }}
            </article>

            {% unless page.share == false %}
                <hr>
                <!-- Share -->
                <h3 class="share">Share</h3>    
                {% include component/share.html %}
            {% endunless %}

            {% if page.threadId %}
                <!-- Comments -->
                <div id="comments" data-id='{{ page.threadId }}'></div>
                <script type="text/javascript">
                  document.addEventListener('ax.load', function() {
                    scriptLoader('https://cdn.livefyre.com/Livefyre.js')
                      .then(function(e) { console.log(e)
                        window.Livefyre.require(['fyre.conv#3'], function (Conv) {
                        new Conv({}, [{
                          siteId: '376177',
                          articleId: '{{ page.threadId }}',
                          el: 'comments',
                        }], function (commentsWidget) {}());
                        });
                      })
                      .catch(function(e) { console.error(e) });
                  });
                </script>
            {% endif %}

            
        </section>
    </div>

    <div class="alex-article__aside">
    </div>
</div>
