// Viewport definitions
@import "viewports";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

// Reset
@import "util/grid";

@import "type/main";

// Components
@import "alex/palette";
@import "alex/typography";
@import "alex/layout";
@import "alex/header";
@import "alex/footer";
@import "alex/forms";
@import "alex/buttons";
@import "alex/pager";
@import "alex/article";
@import "alex/share";
@import "alex/home";
@import "alex/listing";
@import "alex/cards";

.panel {
	background: $brand;
}

.panel-default {
	border-color: $orange-1;
}

hr {
	border: 0;
	border-top: 1px solid black;
}
