@import "../util-palette/palette";

.alex-pagination {
  padding-left: 0;
  margin: 1em 0;
  list-style: none;
  text-align: center;

  li {
    display: inline;
    > a,
    > span {
      display: inline-block;
      padding: 5px 14px;
      background-color: $white;
      border: 1px solid $grey-2;
      border-radius: 3px;
    }

    > a:hover,
    > a:focus {
      text-decoration: none;
      background-color: $blue-4;
    }
  }

  .next {
    > a,
    > span {
      float: right;
    }
  }

  .previous {
    > a,
    > span {
      float: left;
    }
  }

  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      color: $grey-3;
      background-color: $white;
      cursor: not-allowed;
    }
  }
}
