@use "sass:math";

$max-width: 1020px;
$max-columns: 10;

@mixin alex-container($max-width: 1000px) {
    max-width: $max-width;
    width: 90%;
    margin: 0 auto;
}

@mixin alex-row() {
	clear: both;
	flex-wrap: wrap;
    display: flex;

    &:before,
	&:after {
		content: '';
		display: table;
		display: flex;
	}
	&:after {
		clear: both;
	}
}

@mixin alex-column($width: 1) {
    float: left;
    flex: $width 1 0%;
    box-sizing: border-box;
    display: block;

    max-width: percentage(math.div($width, $max-columns));
    min-width: percentage(math.div($width, $max-columns));
}

@mixin alex-guttering() {
    padding-left: 1.5em;
    padding-right: 1.5em;
}
